body{
    margin:0%;
    padding: 0%;
}

.navbar{
    padding: 1% 5% 0 5%;
    display:flex;
    justify-content: space-between;
}
.logo{
    color:#0061A8;

    
}

.searchAndLoginContainer{
    width:40%;
    /* border: solid; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.linkContainer{
    /* border:solid; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.welcomeSection{
    margin:0%;
    padding: 0;
    display: flex;
    flex-direction: row;

    
}
.messageContainer{
    background-color: #0061A8;
    color: white;
    margin: 0;
    padding:5% 0 5% 5%;
    width:50%;
}

.welcomeImage{
    border-color: orange;
    width:50%;
    margin: 0;
}
.cardSection{
    /* border: solid; */
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5%;
}
.cardContainer{
    /* border: solid; */
    border-color: blue;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.card{
    /* border: solid;
    border-color:#FBE0C4; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    width:15%;
    /* height: 50vh; */
    margin:3%;
}

.cardImage{
    /* border:solid; */
    width:100%;
    margin-bottom: 25%;
}

.cardDescription{
    /* border:solid; */
    border-color: blue;
    display: flex;
    text-align: center;
    margin-bottom: 10%;
    /* width: 50%; */
}

.cardButton{
    background-color: #0061A8; /* Green */
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
    /* border: solid; */
}

.resourceSection{
    padding: 0 5%;
    /* border: solid; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.leftResourceContainer{
    /* border: solid; */
    /* border-color: blue; */
    width:40%;
}

.emailContainer{
    /* border:solid; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 5%;
}

.socialMediaContainer{
    /* border:solid; */
    /* border-color: red; */
    height:75%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.rightResourceContainer{
    /* border: solid; */
    /* border-color: red; */
    width:40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.companyTitle{
    margin-top:0;
}

.servicesTitle{
    margin-top:0;
}

.resourcesTitle{
    margin-top:0;
}

.companyLink{
    margin:20px 0;
}

.servicesLink{
    margin:20px 0;
}

.resourcesLink{
    margin:20px 0;
}