body{
    margin:0%;
    padding: 0%;
    font-family: 'Open Sans', sans-serif;
}

.navbar{
    padding: 1% 15%;
    display:flex;
    justify-content: space-between;
}
.logo{
    color:#0061A8;
    font-size: 50px;
}

.searchAndLoginContainer{
    width:45%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #0061A8;
}

.navBarLink:hover{
    cursor:pointer;
}

.searchContainer{
    display: flex;
    justify-content: space-evenly;
    width:30%;
}

.searchButton{
    width:15%;
}

.searchImage{
    border-color: blue;
    width:100%;
}

.searchImage:hover{
    cursor:pointer;
}

.logInContainer{
    width:10%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}
.logInImage{
    width:50%
}

.logInImage:hover{
    cursor:pointer;
}

.logInText:hover{
    cursor:pointer;
}

.welcomeSection{
    margin:0%;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.welcomeSection:hover{
    cursor:default;
}

.messageContainer{
    background-color: #0061A8;
    color: white;
    margin: 0;
    padding:5% 0 5% 5%;
    width:50%;
    font-size: 25px;
    text-align: center;
}

.welcomeMessageImage{
    width:20%
}

.welcomeImage{
    border-color: orange;
    width:50%;
    margin: 0;
}

.cardSection{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 3% 5%;
}

.cardTitle{
    font-size: 40px;
    color: #0061A8;
}

.cardTitle:hover{
    cursor:default;
}

.cardContainer{
    border-color: blue;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:15%;
    margin:3% 7%;
}

.cardImage{
    width:100%;
    margin-bottom: 25%;
}

.cardDescription{
    border-color: blue;
    display: flex;
    text-align: center;
    margin-bottom: 10%;
}

.cardDescription:hover{
    cursor:default;
}

.cardButton{
    background-color: #0061A8; 
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
}

.cardButton:hover{
    cursor:pointer;
}

.resourceSection{
    padding: 2% 15%;
    background-color: #0061A8;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.leftResourceContainer{
    width:40%;
}

.emailContainer{
    display: flex;
    flex-direction: row;
}

.emailButton{
    background-color: #0061A8;
    border: none;
    color: white;
    padding: 15px 25px 15px 0px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 20px;
    align-items: center;

}

.emailButton:hover{
    cursor:pointer;
}

.emailImage{
width:5%;
margin-right: 2%;
}

.socialMediaContainer{
    height:60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.socialMediaTitle:hover{
    cursor:default;
}

.socialMediaImage{
    width:5%;
    margin-right:2%;
}

.socialMediaImage:hover{
    cursor:pointer;
}

.disclaimer:hover{
    cursor:default;
}

.rightResourceContainer{
    width:50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.companyTitle{
    margin-top:0;
}

.companyTitle:hover{
    cursor: default;
}

.companyLink{
    margin:20px 0;
}

.companyLink:hover{
    cursor: pointer;
}

.servicesTitle{
    margin-top:0;
}

.servicesTitle:hover{
    cursor: default;
}

.servicesLink{
    margin:20px 0;
}

.servicesLink:hover{
    cursor: pointer;
}

.resourcesTitle{
    margin-top:0;
}
.resourcesTitle:hover{
    cursor: default;
}
.resourcesLink{
    margin:20px 0;
}

.resourcesLink:hover{
    cursor: pointer;
}



/*below is code to make the CSS dynamic*/
/* $phone: 480px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1440px; */

@media screen and (max-width: 480px){

}

@media screen and (min-width: 480px) and (max-width: 768px){

}

@media screen and (min-width: 768px) and (max-width: 1000px){

}

@media screen and (min-width: 1000px) and (max-width: 1400px){
    .navbar{
        padding: 1% 5%;
    }
    .logo{
        font-size: 35px;
    }
    
    .searchAndLoginContainer{
        width:60%;
    }
    .navBarLink{
        font-size: 15px;
    }
    
    .searchContainer{
        width:25%;
    }
    
    .searchBar{ 
        width:50%;
    }

    .searchButton{
        width:30%;
    }
    
    .searchImage{
        width:100%;
    }
    
    .logInText{
        font-size: 15px;
    }

    .welcomeSection{
        height:25vh;
    }

    .welcomeMessage{
        /* border: solid;
        border-color: red; */
        font-size: 25px;
    }

    .cardSection{
        padding: 5% 0;;
    }

    .cardDescription{
        font-size: 15px;
    }

    .card{
        /* border:solid; */
        padding: 0 3%;
        margin:3% 5%;
    }
}