body{
    margin:0%;
    padding: 0%;
}

.navbar{
    padding: 3% 5%;
    display:flex;
    justify-content: space-between;
}
.logo{
    color:#0061A8;

    
}
.navRightContainer{
    width: 25%;
}
.searchAndLoginContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.linkContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.welcomeSection{
    margin:0%;
    padding: 0;
    display: flex;
    flex-direction: row;

    
}
.messageContainer{
    background-color: #0061A8;
    color: white;
    margin: 0;
    padding:5% 0 5% 5%;
    width:50%;
}

.welcomeImage{
    border-color: orange;
    width:50%;
    margin: 0;
}
.cardSection{

    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5%;
}
.cardContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:10%;
    height: 30vh;
    margin:2% 10%;
}

.cardImage{
    width:100%;
}

.cardDescription{
    border:solid;
    border-color: blue;
    width: 50%;
}